<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-button>
    </ion-buttons>

    <ion-title>Botones y routing</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="heart"></ion-icon>
      </ion-button>

      <ion-button color="primary">
        <ion-icon name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button size="small">pequeño</ion-button>
  <ion-button size="default">default</ion-button>
  <ion-button size="large">grande</ion-button>

  <!--Navegar o routing-->
  <ion-button class="top-20" expand="full" routerLink="/alert" color="success">Navegar</ion-button>

  <!-- ion-row + ion-col -->
  <ion-row class="top-20">
    <ion-col>
      <ion-button expand="full" routerLink="/avatar" color="success">Navegar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" routerLink="/action-sheet" color="success">Navegar</ion-button>
    </ion-col>
  </ion-row>

  <!--fill-->
  <ion-button class="top-20" fill="clear">Clear</ion-button>
  <ion-button class="top-20" fill="solid">Clear</ion-button>
  <ion-button class="top-20" fill="outline">Clear</ion-button>

</ion-content>
