<app-header titulo="Cards"></app-header>

<ion-content>
  <ion-card mode="ios"color="warning">

    <ion-card-header >
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Titulo de la tarjeta </ion-card-title>
    </ion-card-header> 

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      te et accusamus praesentium pariatur sequi dolores minus, nobis qui doloremque recusandae, quod, sit aliquam labore enim! Alias eveniet unde dignissimos! Deserunt?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/Screenshot_13.jpg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nostrum maxime architecto dolorem temporibus vero, in fugiat corporis exercitationem tempora, ad quis nobis, molestiae adipisci. Praesentium earum neque harum distinctio!
    </ion-card-content>
  </ion-card>
</ion-content>
